<!DOCTYPE html>
<html>
	<head>
		<title>Ebulletin</title>
		<style>
			<%= raw(Ebulletin::Application.assets.find_asset('preview.css').body) %>
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
